{% extends "base.html" %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <textarea name="string" cols="80" rows="20">{{ string }}</textarea>
    {% if message %}
    <div style="color:red;">{{ message }}</div>
    {% endif %}
    <br />
    <button type="submit" formaction="{% url 'encode:ascii_encode' %}">ascii编码</button>
    &nbsp;
    <button type="submit" formaction="{% url 'encode:ascii_decode' %}">ascii解码</button>
    <br />
    &nbsp;
    <button type="button"><a href="{% url 'core:index' %}">返回首页</a></button>
    <br />
    <textarea name="context" cols="80" rows="20">{{ context }}</textarea>
</form>

{% endblock %}